<h3>Assignment List</h3>
<table class="table">
  <tr>
    <th>Assignment:</th>
    <th>Score/Total:</th>
    <th>Percentage:</th>
    <th>Go to Student:
  </tr>
  <% @assignments.each do |assignment| %>
  <tr>
    <td><%= link_to assignment.name, assignments_path(:search => assignment.student_id) %></td>
    <td><%= assignment.score %>/<%= assignment.total %></td>
    <td><%= number_to_percentage(assignment.score / assignment.total, precision: 3) %></td>
  </tr>
  <% end %>
</table>